.jumbotron{
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: black;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;

}
h2{
  text-align: center;
  font-family: fantasy;
}