{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <title>Photo Gallery</title>


  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" >
  {% endblock %}

</head>
<body>
    {% block content %}
        {% include "navbar.html" %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <h1>Image:</h1>
                            <img src="{{image.pic.url}}"  class="img-responsive" alt="">
                            <h1>Name: </h1>
                            <p>{{image.name}}</p>
                            <h1>Description:</h1>
                            <p>{{image.Description}}</p>
                            <h1>Category:</h1>
                            <p>{{image.category}}</p>
                            <h1>Location:</h1>
                            <p>{{image.location}}</p>
                    </div>
                </div>
        {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>