{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <title>Photo Gallery</title>


  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" >
  {% endblock %}

</head>
<body>
    {% block content %}
        {% include "navbar.html" %}


        <div class="container black white-text">
                <div class="container">

                        <div class="row">
                        <h1>Image:</h1>
                        <img src="{{Image.pic.url}}"  class="img-responsive" alt="">
                        </div>
                        <div class="row">
                        <h1>Name: </h1>
                        <p>{{image.name}}</p>
                        </div>
                    <div class="row">
                        <h1>Description:</h1>
                        <p>{{image.Description}}</p>
                        <h4>Link to this Image:<span><input id="myInput" type="text" value="https://photo-gallery-wesh.herokuapp.com/image/{{image.id}}"><a href="#" class="btn" onclick="myFunction()">copy</a></span></h4>
                    </div>
                    </div>
                </div>


        </div>
        {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>