{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <title>Photo Gallery</title>


  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" >
  {% endblock %}

</head>
<body>
    {% block content %}
        {% include "navbar.html" %}
        {% for image in images %}
                <!-- display images -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-flex mb-3">
                    <div class="card border-dark flex-fill">
                        <div class="card-header">
                            <img src="{{image.pic.url}}" alt="image">
                            </div>
                            <div class="card-body">
                            <h5 class=>{{image.name}}</h5>
                            <p>{{image.Description}}</p>
                            
                            </div>
                            </div>
                        </div>
            {% endfor %}
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>