<nav class="navbar sticky-top navbar-expand-lg nav class=navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home'%}">Photo Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/">General</a>
                <a class="dropdown-item" href="/">Business</a>
                <a class="dropdown-item" href="/">Technology</a>
                <a class="dropdown-item" href="/">Sports</a>
                <a class="dropdown-item" href="/">Entertainment</a>
                <a class="dropdown-item" href="/">Science</a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Location
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/">Europe</a>
                      <a class="dropdown-item" href="/">Asia</a>
                      <a class="dropdown-item" href="/">Africa</a>
                  </li>
          </ul>
          <form class="navbar-form" role="search" action="{% url 'search' %}">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Category" name="category">
              <div class="input-group-btn">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">Search</button>
              </div>
            </div>

          </form>
        </div>
      </nav>