{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <title>Photo Gallery</title>


  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" >
  {% endblock %}
</head>
   <body>
        {% block content %}
            {% include "navbar.html" %}
            <div class="container">

                    <div class="row">
                      {% if images%}
                        <h2>Found {{ images|length }} of searched term {{message}}</h2>
                      {% else %}
                        <h2> Found 0 articles for the search term</h2>
                      {% endif %}

                    </div>

                    <div class="row">

                    {% if images %}
                      {% for image in images %}
                        <div class="col-sm-12 col-md-12">
                            <h1>Name: </h1>
                            <p>{{image.name}}</p>
                            <h1>Description:</h1>
                            <p>{{image.Description}}</p>
                            <h1>Image:</h1>
                            <p><a class="white-text"  href="/image/{{image.id}}"><img src="{{image.pic.url}}" style="width:500px;height:700px;"></a></p>
                        </div>
                      {% endfor %}
                    {% endif %}
                    </div>
                  </div>
        {%endblock%}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
</body>
</html>